opencv-python<4.13
numpy<2
torch
torchvision
facenet-pytorch
onnxruntime
insightface @ https://huggingface.co/hanamizuki-ai/insightface-releases/resolve/main/insightface-0.7.3-cp312-cp312-win_amd64.whl
scikit-learn
mtcnn
pillow
PyQt5
prettytable
deepface
